*{
    box-sizing: border-box;
    color: #777777;
}

body {
    padding: 0px;
    margin: 0 auto;
    background-image: url("../images/email-pattern.png");
}

.nav {
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px 240px 40px 240px;
    border-bottom: 2px solid;
    border-color: #cccccc;
    width: 100%;
}

.header {
    background-color: #4aaaa5;
    color: #ffffff;
    float : left;
    text-align: center;
    padding: 16px;
    margin-top: -19px;
    font-size: 22px;
    font-weight: bold;
}

.links {
    float: right;
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.section {
  width: 960px;
  float: left;
  margin-top: 30px;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid;
  border-color: #dddddd;
}

.heading {
    color: #4aaaa5;
}
.content {
    margin: 10px 0px 10px 0px;
}
#img {
    width: 150px;
    height: 150px;
    float: left;
    transform: rotate(270deg);
    margin-right: 10px;
} 

#p {
    margin-left: 10px;
    line-height: 32px;
}

.footer {
    background-color: #777777;
    border-top: 08px solid;
    border-top-color: #4aaaa5;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 30px 0px 0px 0px;
    height: 50px;
}

#text-box {
    width: 100%;
    height: 30px;
    font-size: 16px;
    font-family: monospace;
}

#text-box-m {
    width: 100%;
    height: 150px;
    font-size: 16px;
    font-family: monospace;
}

#button {
    background-color: #4aaaa5;
    padding: 08px 20px;
    font-size: 14px;
    color: #ffffff;
}

.work {
    position: relative;
    float: left;
    width: 275px;
    margin: 10px 10px 10px 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 20px;
  }
  
  .work img {
    height: 165px;
    width: 275px;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }

  /*Could not complete sticky footer, scrolling and comments.*/
  
  @media (max-width: 980px) {
       .links {
           margin: 0px -200px;
        }
        .header {
           margin: -19px -200px;
        }
        
        .container {
            margin: 10px 40px;
        }
        
        .section {
            width: 600px;
        }
        #p {
            font-size: 1rem;
            line-height: 1.5em;
        }

    }
  
  @media (max-width: 768px) {
    .links {
        margin: 0px -220px;
     }
     .header {
        margin: -19px -220px;
     }
     
     .container {
         margin: 5px 20px;
     }
     
     .section {
         width: 725px;
     }
     #p {
         font-size: 1rem;
         line-height: 1.5em;
     }

  }
  
  @media (max-width: 640px) {
    .nav {
        padding: 20px 20px 80px 20px;
    }
    
    .header {
     margin: -19px;
     width: 640px;
    position: static;
    
    }
    
    .links {
        margin: 30px -220px;
        width: 100%;
    }  
     
    .container {
        width: 600px;
    }
        
     .section {
         width: 600px;
         margin-top: 10px;
     }
     #p {
         font-size: 0.95rem;
         line-height: 1.5em;
     }
  
     #img {
         clear: both;
         float: none;
         height: 200px;
         width: 200px;
         margin: 0px 10px;
        }
    }